services:
  db:
    image: postgres:latest
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: mysecretpassword
    container_name: rest_app_db
    volumes:
      - ./initialize_db.sql:/docker-entrypoint-initdb.d/initialize_db.sql
      - ./csvs:/csvs
  frontend:
    build: ./App
    ports: 
      - "3000:3000"
    container_name: restaurant-app
    restart: always
  backend:
    build: ./backend
    ports:
      - "8000:8000"
    container_name: restaurant-backend
    restart: always